html {
    background-color: black;
}

.big {
    height: 500px;
    width: auto;
    filter: drop-shadow(0 0 15px #02b6f2);
}

.small {
    height: 200px;
    width: auto;
    filter: drop-shadow(0 0 15px #02f232);
}