body {
    background-color: black;
}

.hero {
    max-height: 800px;
    width: auto;
}

.large {
    max-height: 600px;
    width: auto;
}

.medium {
    max-height: 400px;
    width: auto;
}

.small {
    max-height: 300px;
    width: auto;
}

.navbar .navbar-brand {
    padding: 0 !important;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;      
    font-weight: 500;       
    padding-left: 1rem !important; 
}

.navbar-brand {
    font-size: 1.5rem !important;
    font-weight: bold;
}

.hero-image-container {
    max-width: 100%; 
}

.hero-image-container img {
    display: block;
    height: auto;
    max-width: 100%; 
}

.hero-overlay-title {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 90%; 
    margin: 0;
    z-index: 10;
    pointer-events: none; 
    text-shadow: 2px 6px 9px var(--text-shadow);
    font-size: clamp(1.5rem, 5vw, 4rem) !important;
}