:root {
  --dark: #333;
  --grey: #6e6e6e;
  --border-grey: #e1dcd3;
  --transparent-border: rgb(135 116 79 / 25%);
  --light: #fff;
  --cream: #f5f3e9;
  --light-brown: #87744f;
  --mid-brown: #825600;
  --dark-brown: #553801;
  --orange: #c55302;
  --dark-orange: #833701;
  --font-sm: 1rem;
  --font-md: 1.125rem;
  --text-shadow: rgb(0 0 0 /80%);
}