:root {
    --bread-white: #F9F7F2;
    --bread-dough: #F2E8CF;
    --bread-gold: #E6B363;
    --bread-brown: #8B5E3C;
    --bread-crust: #63422B;
    --bread-dark: #3E2723;
    --text-shadow: rgb(62 39 35 /80%);
}